* {border: 0px Solid red}

:root {
  --primary-color: #f1f5f9;
  --secondary-color: #94a3b8;
  --third-color: #475569;
}

body {
  height: 140vh;
  margin: 0%;
  display: grid;
  grid-template-columns: repeat(16,1fr);
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: italic ;
}

#container {
  grid-column: span 14;
  display: grid;
  grid-template-rows: repeat(10,10%);
}

#header-container {
  grid-row: span 2;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(10,1fr);
  background-color: var(--secondary-color);
  box-shadow: 0 12px 6px rgba(0, 0, 0, 0.1);
}

#search {
  display: flex;
  align-items: center;
  grid-column: 3/11;
  grid-row: 2;
}

#magnify {
  background-color: var(--primary-color);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#query {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  outline: none;
  height: 40px;
  width:100%;
  background-color: var(--primary-color);
}

#profilepic {
  border-radius: 45px;
  height: 80px;
}

#profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 16/20;
  grid-row: 2;
}

#divider {
  height: 2px;
  background-color: var(--third-color);
  grid-column: 1/21;
  grid-row: 5;
}

#actions-container {
  display: flex;
  justify-content: space-around;
  grid-column: 3/11;
  grid-row: 8/10;
}


.space-icons, .space-icons-right{
  display: flex;
  transition: transform 0.3s ease;
}

.space-icons:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.iconsize { 
  height: 40px;
}

.iconsize:hover {
  cursor: pointer;
}

#follower-icons {
  display: flex;
  flex: 1;
  grid-column: 16/20;
  grid-row: 9;
  justify-content: space-between;
  
}

#content-container {
  grid-row: span 8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}

#projects-container {
  grid-row: span 3;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 24px;
  gap: 24px;
}

#right-sidebar {
  grid-column: 3/4;
  grid-row: span 3;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 24px;
  background-color: white;
}

.project {
  background-color: rgb(255, 255, 255);
}

#sidebar {
  grid-column: 1/3;
  display: grid;
  position: sticky; 
  top: 0;           
  height: 100vh; 
  background-color: var(--third-color);      
}

@media (max-width: 1300px) {
  body {
     grid-template-columns: 1fr;
  }
  #sidebar {
     position: fixed;    
     height: 100%;
     width: 145px;
     transition: transform 380ms ease-in-out;
     transform: translateX(-100%);
  }
}

#dashicon {
  margin-top: 10px;
}

#dashboard {
  font-weight: bolder;
}

#selections {
  grid-row: 3/12;
  grid-template-rows: repeat(10, 1fr);
  margin-left: 5px;
}

.selection {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  font-style:normal;
  font-weight: bold;
}

.selection:hover {
  cursor: pointer;
}

#animation-icon {
  margin-bottom: 100px;
}